<div class="landing-page-container">
  <div class="container">
    <div class="row">
      <div class="col">

      </div>
      <div class="col text-left landing-content">
        <h1 class="display-1">Cinema<br>IronHack</h1>
        <p><button type="button" onclick="window.location.href='movie/moviesList'" class="btn btn-light">Check the Movies !!</button></p>
      </div>
    </div>
  </div>